<h2>Edit Dive Log</h2>
{{> flash_messages}}

<form action="/dive/{{oneEdit._id}}/editprocess" method="POST">
<label>
  Date:
  <input type="date" name="date" value="{{dateValue}}" placeholder="01-06-18">
</label>
<label>
  Dive Number:
  <input type="number" name="diveNb" value={{oneEdit.diveNb}} placeholder="01">
</label>
<label>
  Dive Site:
  <input type="text" name="divesite"  value="{{oneEdit.divesite.name}}" placeholder="Manta Hole">
</label>
<label for="depthdive">
  Max Dive Depth:
  <input type="number" name="depth" value={{oneEdit.depth}} placeholder="25" min=0>
  <select name="depthInfo" id="depthdive">
    <option value="m" >M</option>
    <option value="ft">Ft</option>
    </select>
</label>
<label for="weightdive">
  Weights:
  <input type="number" name="weightNb" value={{oneEdit.weightNb}} placeholder="05" min=0>
  <select name="weightInfo" id="weightdive">
    <option value="kg" >KG</option>
    <option value="lbs">LBS</option>
    </select>
</label>
<label>
  Suit Thickness:
  <input type="text" name="suitThickness" value="{{oneEdit.suitThickness}}" placeholder="7mm Long">
</label>
<label for="airs">
  Air Info:
  <select name="airInfo" value={{oneEdit.airInfo}} id="airs">
    <option value="psi" >PSI</option>
    <option value="bars">Bars</option>
    </select>
</label>
<label>
  Air In:
  <input type="number" name="airInNb" value={{oneEdit.airInNb}} placeholder="250">
</label>
<label>
  Air Out:
  <input type="number" name="airOut" value={{oneEdit.airOut}} placeholder="80">
</label>
<label>
  Dive Time:
  <input type="number" name="diveTime" value={{oneEdit.diveTime}} placeholder="42" min=0>
</label>
<label>
  Entry Time:
  <input type="time" name="entryTime" value={{oneEdit.entryTime}} placeholder="13:00">
</label>
<label>
  Exit Time:
  <input type="time" name="exitTime" value={{oneEdit.exitTime}} placeholder="14:00">
</label>
<label>
  What did you see:
  <input type="text" name="seen" value="{{oneEdit.seen}}" placeholder="Stingray, turtles">
</label>
<label>
  Comments:
  <input type="text" name="comments" value="{{oneEdit.comments}}" placeholder="C'est bonne">
</label>
<label>
  Ratings:
  <input type="number" name="rating" value={{oneEdit.rating}} placeholder="2" min=0>/5
</label>
<label>
  Reviews (on Divesite):
  <input type="text" name="divesiteReviews" value="{{oneEdit.divesiteReviews}}" placeholder="The whole place is so good">
</label>

<button>Edit this Dive</button>
</form>