<div class="diveprofile">
<h2>Dive Logs List</h2>
<button><a class="diveloglink" href="/dive/add-dive">Add Dive</a></button>
</div>
{{> flash_messages}}

<div class="divelog">
  {{#each divelogs}}
  <div class="onedive">
    <div>
      <p class="counter" >Dive Number: {{this.diveNb}}<br>
        <h3>{{this.divesite.name}}</h3><br>
        Date: {{this.shortDate}}<br>
        Max Dive Depth: {{this.depth}}{{this.depthInfo}}<br>
        Weights: {{this.weightNb}}{{thisweightInfo}}<br>
        Suit Thickness: {{this.suitThickness}}<br>
        Air Info: {{this.airInfo}}<br>
        Air In: {{this.airInNb}}<br>
        Air Out: {{this.airOut}}<br>
        Dive Time: {{this.diveTime}}<br>
        Entry Time: {{this.entryTime}}<br>
        Exit Time: {{this.exitTime}}<br>
        What did you see: {{this.seen}}<br>
        Comments: {{this.comments}}<br>
        Ratings: {{this.rating}}/5<br>
        Reviews about Dive Site: {{this.divesiteReviews}}<br>
      </p>
    </div>
    <div>
      <button><a href="/dive/{{this._id}}/editdive">Edit This Dive</a></button>
    </div>
    <div>
      <button><a href="/dive/{{this._id}}/delete">Delete This Dive</a></button>
    </div>
  </div>
  {{/each}}

</div>