<div class="diveprofile">
<h2>Dive Logs List</h2>
<button><a class="diveloglink" href="/dive/add-dive">Add Dive</a></button>
</div>
{{> flash_messages}}

<div class="divelog">
  {{#each divelogs}}
  <div class="onedive">
    <div>
      <p class="counter">Dive#{{this.diveNb}} - {{this.divesite.name}}</p>
    <p>Date: {{this.shortDate}}</p>
    <p>Entry Time: {{this.entryTime}} / Exit Time: {{this.exitTime}}</p>
    <p>Dive Time: {{this.diveTime}}</p>
    <p>Maximum Depth: {{this.depth}}{{this.depthInfo}}</p>
    <p>Air In: {{this.airInNb}} {{this.airInfo}} / Air Out: {{this.airOut}} {{this.airInfo}}</p>
    <p>Suit Info: {{this.suitThickness}} - Weights on: {{this.weightNb}} {{this.weightInfo}}</p>
    <p>What you saw: {{this.seen}}</p>
    {{#if this.comments}}
    <p>Personal Comment: {{this.comments}}</p>
    {{/if}}

    <p>You rated this dive: {{this.rating}}/5</p>
    <p>Your review of this divesite: {{this.divesiteReviews}}</p>
    </div>
    <div>
      <button><a href="/dive/{{this._id}}/editdive">Edit This Dive</a></button>
    </div>
    <div>
      <button><a href="/dive/{{this._id}}/delete">Delete This Dive</a></button>
    </div>
  </div>
  {{/each}}
</div>