<div class="container-divelogs">
  <div class="diveprofile">
    <h2>Dive Logs List</h2>
    <button><a class="diveloglink" href="/dive/add-dive">Add Dive</a></button>
  </div>
  {{> flash_messages}}

  <div class="divelog">
    {{#each divelogs}}
    <div class="onedive">
      <div>
      <p class="counter"><b>Dive#{{this.diveNb}} - {{this.divesite.name}}</b><br>
      <b>{{this.shortDate}}</b><br>
      <b> Time: </b>{{this.entryTime}} / <b>Exit Time: </b>{{this.exitTime}}
      <b>Dive Time: </b>{{this.diveTime}}<br>
      <b> Depth: </b>{{this.depth}}{{this.depthInfo}}<br>
      <b>Air In: </b>{{this.airInNb}} {{this.airInfo}} / <b>Air Out: </b>{{this.airOut}} {{this.airInfo}}<br>
      <b>Suit Info: </b>{{this.suitThickness}} - <b>Weights on: </b>{{this.weightNb}} {{this.weightInfo}}<br>
      <b>What you saw: </b><br>{{this.seen}}<br>
      {{#if this.comments}}
      <b>Personal Comment: </b><br>{{this.comments}}<br>
      {{/if}}

      <b>You rated this dive: </b>{{this.rating}}/5<br>
      <b>Your review of this divesite: </b><br>{{this.divesiteReviews}}</p>
      </div>
      <div>
        <button><a href="/dive/{{this._id}}/editdive">Edit This Dive</a></button>
      </div>
      <div>
        <button><a href="/dive/{{this._id}}/delete">Delete This Dive</a></button>
      </div>
    </div>
    {{/each}}
  </div>
</div>