<h2>Edit my Profile</h2>
{{> flash_messages}}

<form action="/process-edit" method="post">
  <label>
    First Name:
    <input type="text" name="firstName" value="{{currentUser.firstName}}" placeholder="" />
  </label>
  
  <label>
    Last Name:
    <input type="text" name="lastName" value="{{currentUser.lastName}}" placeholder="" />
  </label>

  <label>
    Email:
    <input type="email" name="email" value="{{currentUser.email}}" placeholder="" />
  </label>

  <label id="company">
    Certification Organization:
    <select name="organization" id="company">
      <option value="{{currentUser.organization}}">{{currentUser.organization}}</option>
      <option value="PADI">PADI</option>
      <option value="SSI">SSI</option>
      <option value="SDI">SDI</option>
    </select>
  </label>

  <label>
    Certification Number:
    <input type="text" name="certNb" value="{{currentUser.certNb}}" placeholder="" />
  </label>

    <label id="maincertification">
    Main Certification:
    <select name="mainCert" id="maincertification">
        <option value="{{currentUser.mainCert}}">{{currentUser.mainCert}}</option>
        <option value="Scuba Diver">Scuba Diver</option>
        <option value="Open Water">Open Water</option>
        <option value="Adventure Diver">Adventure Diver</option>
        <option value="Advanced Open Water">Advanced Open Water</option>
        <option value="Rescue Diver">Rescue Diver</option>
        <option value="Master Scuba Diver">Master Scuba Diver</option>
    </select>
  </label>

  <label for="secondarycertification">
    Secondary Certification:
    <select name="secCert" id="secondarycertification">
        <option value="" disabled selected value>{{#if currentUser.secCert}}{{currentUser.secCert}}{{/if}}None</option>
        <option value="Dive Master">Dive Master</option>
        <option value="Open Water Scuba Instructor">Open Water Scuba Instructor</option>
    </select>
  </label>

  <label for="special">
    Speciality:
    <select name="speciality" id="special" >
         {{!-- <option value="">{{#if currentUser.speciality.0}}{{currentUser.speciality.O}}{{/if}}None</option> --}}
        <option value="nope">None</option>
        <option value="Altitude Diver">Altitude Diver</option>
        <option value="Boat Diver">Boat Diver</option>
        <option value="Fish Identification">Fish Identification</option>
        <option value="Drift Diver">Drift Diver</option>
        <option value="Peak Performance Buoyancy">Peak Performance Buoyancy</option>
        <option value="Night Diver">Night Diver</option>
        <option value="Wreck Diver">Wreck Diver</option>
        <option value="Dry Suit Diver">Dry Suit Diver</option>
        <option value="Advanced Rebreather Diver">Advanced Rebreather Diver</option>
        <option value="Deep Diver">Deep Diver</option>
        <option value="Cave Diver">Cave Diver</option>
        <option value="Search and Recovery Diver">Search and Recovery Diver</option>
        <option value="Emergency First Response Provider">Emergency First Response Provider</option>
    </select>
    </label>


  <button>Confirm my changes</button>
</form>