<h2>My Profile</h2>
{{> flash_messages}}

<div>
<p>First Name : {{currentUser.firstName}}</p>
<p>Last Name : {{currentUser.lastName}}</p>
<p>Email : {{currentUser.email}}</p>
<p>Certification Organization : {{currentUser.organization}}</p>
<p>Certification number : {{currentUser.certNb}}</p>
<p>Main certification : {{currentUser.mainCert}}</p>
{{#if currentUser.secCert}}
<p> Other certifications: {{currentUser.secCert}}</p>
{{/if}}

{{#if currentUser.speciality}}
  <p>Specialities:</p>
  {{#each currentUser.speciality}}
    <li>{{this}}</li>
  {{/each}}
{{/if}}

<button><a href="/edit-profile">Edit my profile</a></button>
</div>


<div class="divelogs-profile-page">
  {{#each divelogArray}}
    <div>
    <p>Dive#{{this.diveNb}} - {{this.divesite.name}}</p>
    <p>Date: {{this.shortDate}}</p>
    <p>Entry Time: {{this.entryTime}} / Exit Time: {{this.exitTime}}</p>
    <p>Dive Time: {{this.diveTime}}</p>
    <p>Maximum Depth: {{this.depth}}{{this.depthInfo}}</p>
    <p>Air In: {{this.airInNb}} {{this.airInfo}} / Air Out: {{this.airOut}} {{this.airInfo}}</p>
    <p>Suit Info: {{this.suitThickness}} - Weights on: {{this.weightNb}} {{this.weightInfo}}</p>
    <p>What you saw: {{this.seen}}</p>
    {{#if this.comments}}
    <p>Personal Comment: {{this.comments}}</p>
    {{/if}}

    <p>You rated this dive: {{this.rating}}/5</p>
    <p>Your review of this divesite: {{this.divesiteReviews}}</p>
    <button><a href="/dive/{{this._id}}/editdive">Update this dive!</a></button>
    </div>
  {{/each}}
</div>
