<h2>My Profile</h2>

<div>
<p>First Name : {{currentUser.firstName}}</p>
<p>Last Name : {{currentUser.lastName}}</p>
<p>Email : {{currentUser.email}}</p>
<p>Certification Organization : {{currentUser.organization}}</p>
<p>Certification number : {{currentUser.certNb}}</p>
<p>Main certification : {{currentUser.mainCert}}</p>
{{#if currentUser.secCert}}
<p> Other certifications: {{currentUser.secCert}}</p>
{{/if}}

{{#if currentUser.speciality}}
  <p>Specialities:</p>
  {{#each currentUser.speciality}}
    <li>{{this}}</li>
  {{/each}}
{{/if}}

<button><a href="/edit-profile">Edit my profile</a></button>
</div>

{{!-- 
<div>
  {{#each divelogsArray}}

</div>
--}}