{{> flash_messages}}
<h2>My Profile</h2>


<div class="profile">
  <div>
    <p>First Name : {{currentUser.firstName}}</p>
    <p>Last Name : {{currentUser.lastName}}</p>
    <p>Email : {{currentUser.email}}</p>
    <p>Certification Organization : {{currentUser.organization}}</p>
    <p>Certification number : {{currentUser.certNb}}</p>
    <p>Main certification : {{currentUser.mainCert}}</p>
    {{#if currentUser.secCert}}
    <p> Other certifications: {{currentUser.secCert}}</p>
    {{/if}}

    {{#if currentUser.speciality}}
    <p>Specialities:</p>
    {{#each currentUser.speciality}}
    <li>{{this}}</li>
    {{/each}}
    {{/if}}

    <button><a href="/edit-profile">Edit my profile</a></button>
  </div>
</div>


<h2>My Dives</h2>
<div class="divelogs-profile-page">
  {{#each divelogArray}}
  <div class="profiledive">
    <p class="counter"><b>Dive#{{this.diveNb}} - {{this.divesite.name}}</b></p><br>
    <p><b>{{this.shortDate}}</b></p><br>
    <p><b> Time: </b>{{this.entryTime}} / <b>Exit Time: </b>{{this.exitTime}}</p>
    <p><b>Dive Time: </b>{{this.diveTime}}</p><br>
    <p><b> Depth: </b>{{this.depth}}{{this.depthInfo}}</p><br>
    <p><b>Air In: </b>{{this.airInNb}} {{this.airInfo}} / <b>Air Out: </b>{{this.airOut}} {{this.airInfo}}</p><br>
    <p><b>Suit Info: </b>{{this.suitThickness}} - <b>Weights on: </b>{{this.weightNb}} {{this.weightInfo}}</p><br>
    <p><b>What you saw: </b><br>{{this.seen}}</p><br>
    {{#if this.comments}}
    <p><b>Personal Comment: </b><br>{{this.comments}}</p><br>
    {{/if}}

    <p><b>You rated this dive: </b>{{this.rating}}/5</p>
    <p><b>Your review of this divesite: </b><br>{{this.divesiteReviews}}</p>
    <button><a href="/dive/{{this._id}}/editdive">Update this dive!</a></button>
  </div>
  {{/each}}
</div>