<h2>Here are the list of DiveSite</h2>

<div class="divelog">
  {{#each alldivesite}}
  <div class="divesite">
    <div>
      <h4>{{this.name}}</h4>
      <h5>{{this.city}}, {{this.country}}</h5>
      <p>{{this.rating}}/5<br></p>
      <div class="divesite-reviews">
        <p>
          {{#each this.reviews}}
          {{this.user.firstName}} {{this.user.lastName}}<br>
          {{this.comments}}<br>
          {{/each}}
        </p>
      </div>
    </div>
  </div>
  {{/each}}
</div>